{erl_opts, [
	debug_info,
	{parse_transform, lager_transform}
]}.

{deps, [
	{jsx, "2.10.0"},
	{gun, "1.3.0"},
	{lager, "3.8.0"}
]}.

{shell, [
	{config, "config/shell.config"},
	{apps, [auditrecv]}
]}.

{relx, [
	{release, {auditrecv, "1.0.0"}, [auditrecv]},
	{include_erts, false},
	{extended_start_script, true},
	{sys_config, "config/app.config"},
	{vm_args, "config/vm.args"}
]}.
