[
  {auditrecv, [
    {port, 1234},
    {elasticsearch, [
      {host, "127.0.0.1"},
      {port, 9200}
    ]},
    {vmapi, "vmapi.coal.joyent.us"},
    {mahi, "mahi.coal.joyent.us"}
  ]},
  {lager, [
    {log_root, "./"},
    {handlers, [
      {lager_console_backend, [{level, info}]},
      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/debug.log"}, {level, debug}]},
      {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
    ]}
  ]}
].
